<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div id="problemsDiv">
        <h1>This page does not exist or unavailable</h1>
    </div>
</body>
</html>