<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body id="chatroomsBody">
    
    <header>
        <%- include('../partials/header') %>
    </header>


    <main id="chatroomsMain">

        <div id="chatroomsMain2">
            <!--Text that describes what you can do in this page-->
            <div id="chatroomsDesciption">
                <h1>Here you can chat with others about films, series, etc</h1>
                <h1>Just choose what you like</h1>
                <h1>Please treat each other with respec</h1>
            </div>

            <!--3 buttons for 3 different chats-->
            <div id="chatroomsButtons">
                <button class="chatButton">
                    <a href="generalchat">General Chat</a>
                </button>

                <button class="chatButton">
                    <a href="filmchat">Film Chat</a>
                </button>

                <button class="chatButton">
                    <a href="serieschat">Series Chat</a>
                </button>
            </div>

        </div>

    </main>


    <footer id="chatroomsFooter">
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>