<!--Logo and navigation bar-->
<div id="logo" onclick="slowScroll('#top, #topMain, #myaccountsMain, #contactsMain, #chatroomsMain2')"> <!-- при нажатии будет направлять вверх -->
    <span>3Bit</span>
</div>
<div id="nav">
    <a href="myaccount" title="account" onclick="slowScroll('#main')">My Account</a>
    <a href="/" title="whatever" onclick="slowScroll('#filmsMain')">Films</a>
    <a href="contacts" title="whatever" onclick="slowScroll('#mainContacts')">Contacts</a>
    <a href="chatrooms" title="whatever" onclick="slowScroll('#mainChat')">Chat rooms</a>
    <a href="/logout" title="whatever" onclick="slowScroll('#mainLogout')">Logout</a>
</div>